{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}{% trans_default_domain 'FOSUserBundle' %}
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
    <div style="margin-top: 40px">
        <h5 style="font-weight: bold">Уже регистрировались?</h5>
        <button style="border-radius: 5px"><a class="btn" href="{{ path('fos_user_security_login') }}">Авторизоваться</a></button>
    </div>
{% endblock fos_user_content %}


