{% extends 'base.html.twig' %}
{% block title %}Лента{% endblock %}
{% block body %}
    <div class="container">
        <button style="border-radius: 5px; float: right"><a class="btn" href="{{ path('app_post_showmyprofile') }}">Мой профиль</a></button>
        <h2 style="text-align: center; margin-top: 100px">Все посты</h2>
        <div style="display: flex; flex-wrap: wrap; justify-content: space-around">
            {% for post in posts %}
                <div style="width: 30%; margin-bottom: 20px">
                    <span style="font-weight: bold; font-size: 20px">Автор: {{ post.author }}</span>
                    <img style="width: 100%" src="{{ vich_uploader_asset(post, 'imageFile') }}">
                    <div style="border: solid black 1px">Описание: {{ post.description }}</div>
                    <span>Количество лайков: {{ post.count}}</span><br>
                    {% if post.author != app.user %}
                        <button><a class="btn" href="{{ path('app_post_subscribetoauthor', {'id' : post.author.id}) }}">{% if app.user.hasFollow(post.author) %}
                                Отписаться
                            {% else %}
                                Подписаться
                            {% endif %}</a>
                        </button>
                    {% endif %}
                    <button style="float: right"><a class="btn" href="{{ path('app_post_addlikeonpost', {'id' : post.id}) }}">{% if post.hasliker(app.user) %}
                                Дислайк
                            {% else %}
                                Лайк
                            {% endif %}</a>
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
