{% extends 'base.html.twig' %}
{% block title %}Мой профиль{% endblock %}
{% block body %}
    <div class="container">
        <button style="border-radius: 5px; float: right"><a class="btn" href="{{ path('app_post_showallposts') }}">Лента</a></button>
        <h2 style="margin-top: 50px; text-align: center">Обо мне:</h2>
        <p><b>Имя: {{ app.user }}</b></p>
        <p><b>Электронная почта: {{ app.user.email }}</b></p>
        <hr>
        <hr>
        <span>Выбрать фото</span>
        {{ form(form) }}
        <hr>
        <h2 style="text-align: center">Мои публикации</h2>
        <div style="display: flex; flex-wrap: wrap; justify-content: space-around">
            {% for post in myPosts %}
                <div style="width: 30%; margin-bottom: 20px">
                    <span style="font-weight: bold; font-size: 20px">Автор: {{ post.author }}</span>
                    <img style="width: 100%" src="{{ vich_uploader_asset(post, 'imageFile') }}">
                    <div style="border: solid black 1px">Описание: {{ post.description }}</div>
                    <span>Количество лайков: {{ post.count}}</span><br>
                    <button style="float: right"><a class="btn" href="{{ path('app_post_addlikeonpost', {'id' : post.id}) }}">{% if post.hasliker(app.user) %}
                                Дислайк
                            {% else %}
                                Лайк
                            {% endif %}</a>
                    </button>
                </div>
            {% endfor %}
        </div>
        <hr>
        <h2 style="text-align: center">Публикации авторов на которых я подписан</h2>
        <div style="display: flex; flex-wrap: wrap; justify-content: space-around">
            {% for postMyFollow in postMyFollows %}
                {% if postMyFollow.author != app.user %}
                    <div style="width: 30%; margin-bottom: 20px">
                        <span style="font-weight: bold; font-size: 20px">Автор: {{ postMyFollow.author }}</span>
                        <img style="width: 100%" src="{{ vich_uploader_asset(postMyFollow, 'imageFile') }}">
                        <div style="border: solid black 1px">Описание: {{ postMyFollow.description }}</div>
                        <span>Количество лайков: {{ postMyFollow.count}}</span><br>
                        <button><a class="btn" href="{{ path('app_post_subscribetoauthor', {'id' : postMyFollow.author.id}) }}">
                                {% if app.user.hasFollow(postMyFollow.author) %}
                                    Отписаться
                                {% else %}
                                    Подписаться
                                {% endif %}
                            </a></button>
                        <button style="float: right"><a class="btn" href="{{ path('app_post_addlikeonpost', {'id' : postMyFollow.id}) }}">{% if postMyFollow.hasliker(app.user) %}
                                    Дислайк
                                {% else %}
                                    Лайк
                                {% endif %}</a>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
